@keyframes ripple {
  to {
    background-size: 1000% 1000%;
  }
}
@keyframes ripple-on-slider {
  to {
    background-size: auto, 1000% 1000%;
  }
}
@keyframes ripple-on-headerbar {
  from {
    background-image: radial-gradient(circle, #f28b82 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle, #f28b82 100%, transparent 0%);
  }
}
.app {
    border-radius: 14px;
}
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: #f28b82;
}
.selected.item-box {
    border-radius: 14px;
    background-color: rgba(145, 50, 50, 0.7);
}
/**
 * Base States
 */
.background {
  background-color: rgba(18, 18, 18, 0.9764705882);
  color: #fff;
}
textview text {
  background-color: rgba(18, 18, 18, 0.9764705882);
  caret-color: #f28b82;
}
spinbutton:not(.vertical),
spinbutton:focus:not(.vertical),
entry:focus {
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #f28b82 100%, transparent 0%) 2/0 0 2px;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1168);
}
spinbutton:drop(active):not(.vertical),
entry:drop(active) {
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.0784);
}
spinbutton:disabled:not(.vertical),
entry:disabled {
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.5);
}
spinbutton.flat:not(.vertical),
entry.flat {
  min-height: 0;
  padding: 2px;
  border-radius: 0;
  background-color: transparent;
}
spinbutton:not(.vertical) image,
entry image {
  color: rgba(255, 255, 255, 0.7);
}
spinbutton:not(.vertical) image:hover, spinbutton:not(.vertical) image:active,
entry image:hover,
entry image:active {
  color: #fff;
}
spinbutton:not(.vertical) image:disabled,
entry image:disabled {
  color: rgba(255, 255, 255, 0.5);
}
spinbutton:not(.vertical) image.left,
entry image.left {
  margin-left: 2px;
  margin-right: 6px;
}
spinbutton:not(.vertical) image.right,
entry image.right {
  margin-left: 6px;
  margin-right: 2px;
}
spinbutton:not(.vertical) selection,
entry selection {
  background-color: rgba(242, 139, 130, 0.24);
}
spinbutton.error:not(.vertical),
entry.error {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), border-image 225ms cubic-bezier(0, 0, 0.2, 1);
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #ff6464 0%, transparent 0%) 2/0 0 0;
  box-shadow: inset 0 -1px #ff6464;
  background-color: rgba(255, 255, 255, 0.04);
  color: #fff;
  caret-color: #ff6464;
}
spinbutton.error:focus:not(.vertical),
entry.error:focus {
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #ff6464 100%, transparent 0%) 2/0 0 2px;
  box-shadow: inset 0 -1px #ff6464;
  background-color: rgba(255, 255, 255, 0.1168);
}
spinbutton.error:disabled:not(.vertical),
entry.error:disabled {
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.5);
}
spinbutton.warning:not(.vertical),
entry.warning {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), border-image 225ms cubic-bezier(0, 0, 0.2, 1);
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #fdd663 0%, transparent 0%) 2/0 0 0;
  box-shadow: inset 0 -1px #fdd663;
  background-color: rgba(255, 255, 255, 0.04);
  color: #fff;
  caret-color: #fdd663;
}
spinbutton.warning:focus:not(.vertical),
entry.warning:focus {
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #fdd663 100%, transparent 0%) 2/0 0 2px;
  box-shadow: inset 0 -1px #fdd663;
  background-color: rgba(255, 255, 255, 0.1168);
}
spinbutton.warning:disabled:not(.vertical),
entry.warning:disabled {
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.5);
}
spinbutton:not(.vertical) progress,
entry progress {
  margin: 0 -8px -4px;
  border-bottom: 2px solid #f28b82;
  background-color: transparent;
}

