@define-color main-bg-color rgba(100, 0, 0, 0.6);
@define-color main-bg-focus rgba(180, 30, 50, 0.65);
@define-color main-bg-backdrop rgba(40, 10, 20, 0.7);
@define-color main-bg-focus-solid rgba(130, 40, 45, 1.0);
@define-color checked-bg rgba(180, 30, 120, 0.65);
@define-color button-color rgba(90, 60, 150, 0.5);
@define-color button-color-solid rgba(90, 60, 150, 1.0);
@define-color button-insensitive-color rgba(20, 10, 50, 0.4);
@define-color border-color rgba(100, 100, 200, 1.0);
@define-color selection-color rgba(90, 60, 120, 0.8);
@define-color selection-color-solid rgba(80, 30, 90, 1.0);
@define-color button-hover-color rgba(110, 140, 220, 0.8);
*, * * {
    background-color: transparent;
    color: white;
    border-top-color: @border-color;
    border-bottom-color: @border-color;
    border-right-color: @border-color;
    border-left-color: @border-color;
    background-image: none;
    box-shadow: none;
    caret-color: @border-color;
    -GtkWidget-cursor-aspect-ratio: 0.2;
}
window, popover, tooltip, filechooser, dialog, messagedialog {
    background-color: @main-bg-color;
    color: white;
}
overlay>.notification {
    background-color: @main-bg-color;
}
overlay>.notification:hover {
    background-color: @main-bg-focus;
}
popover, tooltip {
    border-radius: 1em;
}
scale {
}
scale slider {
    background-color: @button-color-solid;
    background-image: default;
    border-radius: 1000000px;
    min-width: 2em;
    min-height: 2em;
}
scale slider:hover {
    background-color: @selection-color-solid;
}
scale slider:focus, scale slider:active {
    background-color: @main-bg-focus-solid;
}
scale highlight {
    background-color: @button-hover-color;
    min-height: 0.5em;
}
button {
  background-color: @button-color;
}
button:not(.toggle):focus, button:active, treeview *:focus, treeview *:active {
    background-color: @main-bg-focus;
}
button.slider-button:hover, treeview *:hover, sidebar *:hover, filechooser *:hover {
    background-color: @selection-color;
}
treeview button:hover {
    background-color: @selection-color;
}
*:checked {
    background-color: @checked-bg;
}
*:checked:hover {
    background-color: @button-hover-color;
}
*:checked:focus {
    background-color: @checked-bg;
}
*:selected, *:selection, selection {
  background-color: @selection-color;
}
*:selected {
    background-color: @selection-color;
}
selection {
    background-color: @selection-color;
}
button:hover {
    background-color: @selection-color;
}
button:insensitive, treeview *:insensitive {
    background-color: @button-insensitive-color;
}
button:insensitive *:insensitive, treeview *:insensitive *:insensitive {
    background-color: transparent;
}
/* swaync */
.control-center {
    background-color: @main-bg-color;
}
.blank-window {
    background-color: @main-bg-backdrop;
}
.widget-title>button {
    color: white;
    background-color: @button-color;
}
.widget-title>button:hover {
    background-color: @selection-color;
}
.widget-dnd>switch {
    padding: 0;
    min-width: 2em;
    min-height: 2em;
}
.widget-dnd>switch:hover {
    background-color: @button-color;
}
.widget-dnd>switch:checked:hover {
    background-color: @button-hover-color;
}
