@define-color main-bg-color rgba(100, 0, 0, 0.5);
@define-color main-bg-focus rgba(180, 30, 50, 0.65);
@define-color main-bg-focus-solid rgba(130, 40, 45, 1.0);
@define-color checked-bg rgba(180, 30, 120, 0.65);
@define-color button-color rgba(90, 60, 150, 0.5);
@define-color button-color rgba(90, 60, 150, 1.0);
@define-color button-insensitive-color rgba(20, 10, 50, 0.4);
@define-color border-color rgba(100, 100, 200, 1.0);
@define-color selection-color rgba(90, 60, 120, 0.7);
@define-color selection-color-solid rgba(80, 30, 90, 1.0);
@define-color button-hover-color rgba(100, 80, 180, 0.7);
*, * * {
    background-color: transparent;
    color: white;
    border-top-color: @border-color;
    border-bottom-color: @border-color;
    border-right-color: @border-color;
    border-left-color: @border-color;
    background-image: none;
    box-shadow: none;
}
window, popover, tooltip, filechooser {
    background-color: @main-bg-color;
    color: white;
}
popover, tooltip {
    border-radius: 1em;
}
scale {
}
row revealer widget box spinner {
    background-color: black;
}
scale slider {
    background-color: @button-color;
    background-image: default;
    border-radius: 1000000px;
    min-width: 2em;
    min-height: 2em;
}
scale slider:hover {
    background-color: @selection-color-solid;
}
scale slider:focus, scale slider:active {
    background-color: @main-bg-focus-solid;
}
scale highlight {
    background-color: @button-hover-color;
    min-height: 0.5em;
}
button {
  background-color: @button-color;
}
button:not(.toggle):focus, button:active, treeview *:focus, treeview *:active {
    background-color: @main-bg-focus;
}
button.slider-button:hover, treeview *:hover, sidebar *:hover, filechooser *:hover {
    background-color: @button-hover-color;
}
treeview button:hover {
    background-color: @button-hover-color;
}
*:checked {
    background-color: @checked-bg;
}
*:checked:focus {
    background-color: @checked-bg;
}
*:selected {
  background-color: @selection-color;
}
button:hover {
    background-color: @selection-color;
}
button:insensitive, treeview *:insensitive {
    background-color: @button-insensitive-color;
}
button:insensitive *:insensitive, treeview *:insensitive *:insensitive {
    background-color: transparent;
}
/* waybar stylings */
window#waybar {
    background-color: @main-bg-color;
}
