window {
	background-image: url('file:///etc/greetd/wallpaper/wallpaper11.png');
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-color: rgb(150, 150, 150);
}


